#google{
    background-color: #ff589b;
    border-radius: 10px;
    color: white;
    padding: 8px 65px;
}

#login{
    background-color: #ff7845;
    border-radius: 10px;
    color: white;
    padding: 8px 128px;
    
}

#facebook{
    background-color: #25a6ff;
    border-radius: 10px;
    padding: 8px 60px;
    color: white;
    margin-top: 10px;
}
.vh-100{
    background-image: url(./images/toys\ 9.webp);
    background-size: cover;
}
#facebook:hover{
    background-color: lightskyblue;
    cursor: pointer;
}

#google:hover{
    background-color: rgb(230, 68, 181);
    cursor: pointer;
}

#login:hover{
    background-color: rgb(235, 112, 64);
    cursor: pointer;
}
.form-check-label{
   font-size: 15px;
   padding-left: 15px;
}

.form-check-input{
    cursor: pointer;
}
 
.back-home{
    font-family: "Fredoka One", Sans-serif;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 22px;
    letter-spacing: 0px;
    color: #ffffff;
    background-color:#25a6ff;;
    border-radius: 4px 4px 4px 4px;
    box-shadow: -3px -3px 4px 0px rgb(47 47 47 / 13%) inset;
    padding: 8px 18px 10px 18px;
    margin: -10px 0px 0px 0px;
    align-self: flex-start;
   border-style: none;
   width: 200px;
}
.vh-100{
    background-image: url(./images/toy10.webp);
    background-size: cover;
}

#register{
    background-color: #ff7845;
    padding: 8px 176px;
    border-radius: 10px;
    color: white;
}

#register:hover{
    background-color: #ffa17e;
}

.form-check-input{
    cursor: pointer;
}
.logo{
    font-size: 16px;

}