@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lobster&family=Montserrat&family=Open+Sans:ital,wght@1,300&family=Rowdies&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1{
    text-align: center;
}

.card{
    background-color: #25a6ff;
}

.row{
    text-align: center;
}

.number{
    font-size: 30px;
    color:#25a6ff;
    font-weight: bolder;
  
  }
  
  .number:hover{
    color:gray;
  
    cursor: pointer;
  
  }
  
  .quicklinks{
    font-weight: bolder;
  }
  
  .number2{
    font-size: 20px;
    color:#25a6ff;
    font-weight: bolder;
  
  }
  .parse{
    width: 80vw;
  }
  .filter{
    font-family: "Fredoka One", Sans-serif;
      font-size: 16px;
      font-weight: 800;
      text-transform: uppercase;
      line-height: 22px;
      letter-spacing: 0px;
      color: #ffffff;
      background-color: #7cc92b;
      border-radius: 4px 4px 4px 4px;
      box-shadow: -3px -3px 4px 0px rgb(47 47 47 / 13%) inset;
      padding: 8px 18px 10px 18px;
      margin: -10px 0px 0px 0px;
      align-self: flex-start;
     border-style: none;
      
  }
  
  .filter:hover{
    background-color:#ff7845;;
  }
  
  
  /* NAVBAR STYLING */
  
  nav{
    background-color: #25a6ff;
    height: 80px;
  }
  
  .nav-menu{
    list-style: none;
    display: flex;
    text-align: center;
  
  }

  .for-you{
    font-size: 100px;
    color: #ff7845;
    font-weight: bolder;
    text-shadow: 4px 10px 2px rgb(53 66 109 / 15%);
    font-family: "Fredoka One", Sans-serif;
  }
  
  .nav-menu li{
     margin: 20px ;
     color: white;
     font-family: "Fredoka One", Sans-serif; 
     font-size: 20px;
      font-weight: 800;
  }
  
  .nav-menu li:hover{
    background-color: #ff7845;
    cursor: pointer;
    border-style: none;
    border-radius: 4px 4px 4px 4px;
    height: 50px;
    padding: 5px;
       
  
  }


.we-know{
  color: #2c4862;
  padding: 20px;
  font-family: "Fredoka One", Sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0px;

}



.last-para{
  /* text-align: center; */
    color: #000000;
    font-family: "Lato", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    /* line-height: 26px; */
    letter-spacing: 0px;
    /* width: 770px; */
    /* max-width: 770px; */
}

.for-you2{
  font-size: 10px;
  color: #2c4862;
  font-family: "Fredoka One", Sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0px;
  text-shadow: 4px 10px 2px rgb(53 66 109 / 15%);
  padding-bottom: 20px;
}
